body {
    margin: 20px;
    padding: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.exemplo {
    color: #ff0000;
    background-color: #0000ff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin: 20px;
    padding: 15px;
    border: 2px solid #000000;
    display: block;
    position: relative;
    text-align: center;
}

section {
    border: 1px solid #cccccc;
    padding: 10px;
    margin: 10px 0;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: row;
}

article {
    flex: 1;
    border: #000000 1px solid;
    padding: 10px;
    text-align: justify;
}

#artigo1 {
    line-height: 500%;
}

#scroll {
    height: 40px;
    overflow-y: scroll
}

#artigo5 > p{
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

article footer {
    text-align: center;
    color: #808080;
    font-size: 0.85em;
    place-self: flex-end normal;
    
}

article table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

article table, th, td {
    border: 1px solid #000000;
    text-align: center;
    padding-top: 150px;
}

.translate {
    transition: translate 1s;
  }
  
  div:hover .translate {
    translate: 200px 50px;
  }