body {
    margin: 20px;
    padding: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.exemplo {
    color: #ff0000;
    background-color: #0000ff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin: 20px;
    padding: 15px;
    border: 2px solid #000000;
    width: 300px;
    height: 200px;
    display: block;
    position: relative;
    text-align: center;
}

section {
    border: 1px solid #cccccc;
    padding: 10px;
    margin: 10px 0;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: row;
}

article {
    flex: 1;
    border: #000000 1px solid;
    padding: 10px;
    text-align: justify;
}

article footer {
    text-align: center;
    color: #808080;
    font-size: 0.85em;
    
}